#t
{
	padding-left: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: gray;
}
#b
{
	background-image: url('index.png');
	display: block;
	width: 1300px;
	height: 400px;
	background-repeat: no-repeat;
	margin-left: 20px;

}
#c
{
	background-color: lightblue;
}
#d
{
	padding-left: 30px;
	border: solid 3px;
}
#e
{
	border: solid;
    text-align: justify;
    margin: 50px;
}
#f 
{
  display: inline-block;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
  margin-right: 100px;
}
#g
{
	background-color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}
a:link , a:visited 